.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.nav {
  background-color: #32322C;
}

.nav a {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', sans-serif;
}

.nav li {
  display: inline;
}

.jumbotron {
  height: 450px;
  background-image: url('https://s3.amazonaws.com/ooomf-com-files/8H0UdTsvRFqe03hZkNJr_New%20York%20-%20On%20the%20rock%20-%20Empire%20State%20Building.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.project-jumbo {
  height: 450px;
  background-image: url('https://s3.amazonaws.com/ooomf-com-files/XIBPemROQ9iJdUMOOBmG_IMG_1863.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.project-jumbo h1{
  color: #FFFFFF;
  font-size: 68px;
  font-weight: bold;
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  margin-top: 160px;
  text-shadow: 2px 2px 0px #000;
}

.blogindex-jumbo {
  height: 450px;
  background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_5239d6c04342c_1.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.blogindex-jumbo h1{
  color: #FFFFFF;
  font-size: 68px;
  font-weight: bold;
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  margin-top: 160px;
  text-shadow: 2px 2px 0px #000;
}

.blogjumbo .jumbotron {
  height: 450px;
  background-image: url('https://s3.amazonaws.com/ooomf-com-files/mtNrf7oxS4uSxTzMBWfQ_DSC_0043.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.jumbotron .container {
  position: relative;
}

.jumbotron h1{
  color: #FFFFFF;
  font-size: 68px;
  font-weight: bold;
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  margin-top: 140px;
  text-shadow: 2px 2px 0px #000;
}

.project-links {
  margin-top: 15px;
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  margin-bottom: 15px;
}

.project-links p {
  font-size: 26px;
}

.blog-content {
  background-color: #FFFFFF;
  padding-bottom: 15px;
  padding-top: 15px;
}

.blog-content h2 {
  font-size: 36px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
}

.blog-content h3 {
  font-size: 28px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
}

.blog-content p {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 17px;
}

.blog-content a {
  color: #00b0ff;
}

.icon-links {
  margin-top: 35px;
  margin-bottom: 35px;
}

.about-me {
  background-image: url('http://unsplash.s3.amazonaws.com/batch%209/bob-van-aubel-ray-bans.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#quote {
  padding-top: 35px;
  padding-bottom: 35px;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #FFF;
  font-size: 32px;
  text-shadow: 2px 2px 0px #000;
}

.thumbnail {
  border: 0 none;
  box-shadow: none;
}

.thumbnail img {
  max-height: 150px;
}

#footer {
  background-color: #464641;
}

#footer p {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  color: #FFFFFF;
}

.back-to-browsing {
  padding-top: 20px;
  padding-bottom: 20px;
}